<script src="<%= request.mainURL %>/public/js/jquery.min.js"></script>
<script src="<%= request.mainURL %>/public/js/popper.min.js"></script>
<script src="<%= request.mainURL %>/public/js/bootstrap.min.js"></script>
<script src="<%= request.mainURL %>/public/js/sweetalert2.min.js"></script>
</body>
</html>
