@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Protest+Riot&family=Qwitcher+Grypen&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');


body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
}

.gb-light {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.5%;
  
}

.navbar {
    width: 100%;
    font-size: medium;
}

.nav-link {
    font-family: ' sans-serif', sans-serif;
    font-size: 16px;
    /* Justera storleken efter behov */
    font-weight: normal;
    /* eller bold om du vill ha fet text */
    /* Eventuella andra stildirektiv, t.ex. färg eller linjehöjd */
    color: rgb(255, 255, 255);
}

.navbar-brand {
    font-family: 'Protest Riot';
    font-size: 35px;
    /* Justera storleken efter behov */
    font-weight: normal;
    /* eller bold om du vill ha fet text */
    /* Eventuella andra stildirektiv, t.ex. färg eller linjehöjd */
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;


}



h1 {
    font-family: 'Qwitcher Grypen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: white;

}


.col-md-12 {
    margin: 50px;
    position: absolute;
    top: 25%;
    left: 37%;
    display: flex;
    color: white;


}

.alert-danger {
    margin: 50px;
    bottom: 75%;
}


.form-group {
    margin-bottom: 15px;
}