<script src="<%=  request.mainURL %>/public/js/jquery-3.3.1min.js">
</script>
<script src="<%= request.mainURL %>/public/js/popprt.min.js"></script>
<script src="<%= request.mainURL %>/public/js/bootstrap.min.js"></script>
<script src="<%= request.mainURL %>/public/jss/sweetalert.min.js"></script>

</body> 
</html>
 
// 8:53